/**** GENERAL ****/
.card-image img{
  max-height:200px;
}
.ancien_prix{
  text-decoration: line-through;
}

.section_index .row .col{
  padding: 2rem !important;
}
/*.row{
  margin-bottom: 0 !important;
}*/
a{
  color:black !important;
  transition: color .2s ease-in-out;
}

h2{
  font-size:20px !important;
  text-align: center !important;
}

h3{
  font-size:25px !important;
  text-align: center !important;
  margin-top:5%;
  margin-bottom:2%;
}
.input_quantite{
  width:15% !important;
}
/***** HEADER *****/
header{
  background-color: #133f1c;
}
header > h2{
  margin:0 !important;
}
header  a {
  color:black !important;
  transition: color .2s ease-in-out;
}
header  a:hover{
  color: #f1f7d1 !important;
}
header .btn:hover{
  background-color: #f1f7d1 !important;
}
.img_header{
  width:70%;
}
.link_header{
  color: lightgrey !important;
}
.liens_navbar{
  transition : font-weight .2s ease-in-out;
}
.liens_navbar:hover{
  color:black !important;
}
#link_logo{
  color: #f1f7d1 !important;
}
.p_connexion{
  text-align: right !important;
  margin-top:0;
  padding-top:2%;
}
.nav_header{
  height:50px !important;
}
.btn{
  height:50px !important;
  text-transform:none !important;
  padding: 10px 16px !important;
}
.nav_header2 > .nav-wrapper{
  background-color: #f1f7d1 !important;
  margin-top:1%;
  border-bottom: solid 1px grey;
}
.btn_deco{
  background-color: #9e9e9e !important;
  border:none !important;
  cursor: pointer;
  transition : color .2s ease-in-out;
  margin-left:6%;
}
.btn_deco:hover{
  background-color: #f1f7d1 !important;
}
.form_deconnexion{
  margin-left:125%;
}
/****** MAIN ******/
main{
  background-color: #F3F3F3 !important;
  padding:2%;
}


/**** INDEX *****/
/** Section 1 : image **/
.index_img{
  width:70% !important;
  height:30% !important;
  display: block;
  margin-top:5%;
  margin-bottom:5%;
}

/** Section 3 : texte **/
.index_text{
  text-align: justify;
}
.section_index .row{
  margin-bottom: 0 !important;
}
/**** RECHERCHE ****/
.barre_recherche input::placeholder {
  color: grey !important;
}
.barre_recherche{
  margin-top:5%;
  margin-bottom:15%;
}
.nav_header > .nav-wrapper i{
  line-height:50px !important;
}

/****** PANIER *****/
.align-right{
  display: flex;
  justify-content: flex-end;
}
.row_panier{
  display: flex;
  flex-direction: row;
}
.p_panier{
  text-align: center;
  font-size: 18px;
  margin-top:3%;
}
.link_color{
  color:black !important;
  transition: color .2s ease-in-out;
}
.link_color:hover{
  color:grey !important;
}
.lien_panier{
  text-align: center;
  margin-bottom:8%;
}
.delete_icon:hover{
  color: #E81800 !important;
}
/* Aligne le Total avec le prix */
.row_panier > p{
  margin: 0 0 5% 0 !important;
  font-size:20px !important;
}
/***** PRODUIT ****/
.form_produit{
  width:10%;
}
.boutons_produit{
  display: flex;
  flex-direction: column !important;
  width : 180px;
}
#bouton_produit1{
  margin-bottom:5%;
}
.boutons_produit .btn:hover{
  background-color: dimgrey !important;
}
/* Couleur arrow breadcrumb */
.breadcrumb:before {
    color: #9e9e9e;
}
#placement_sous_categories{
  text-align: center;
}
#button_sous_categ{
  margin-right:2%;
}
#button_sous_categ:hover{
  background-color: black !important;
}
.link_categ_parente{
  transition: color .2s ease-in-out;
}
.link_categ_parente:hover{
  color:grey !important;
}
#produits_espace{
  margin-top: 5%;
  margin-bottom : 5%;
}
/***** INSCRIPTION *****/
#form_inscription{
  margin-top:2% !important;
  margin-bottom: 5% !important;
}
#bouton_inscription{
  padding-right:20% !important;
  padding-left:20% !important;
}

/**** ADMIN ****/
#admin img {
  width: 4vw !important;
  height: 7vh !important;
}
#admin{
  background-color: #F3F3F3 !important;
}
table{
  width:80% !important;
  margin: 2% 5% 5% 10% !important;

}
.img_admin{
  width:100px !important;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#cont_filtre{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3%;
}
.filtrer{
  color: white;
  font-weight: bold;
  background-color: #133f1c;
  border-radius: 50%;
  width: 15vw;
  height: 20vh;
}
.filtrer:hover{
  cursor: pointer;
  background-color: #f1f7d1;
  color: #133f1c;
}

#bouton_ajout{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab_title{
  font-weight: bold;
  color: #133f1c;
}

#tab_client{
  background-color: #9e9e9e5e !important;
  border-radius: 15px;

}
#tab_client td,
#tab_client th{
  padding: 2%;
  border-radius: 15px;
}

.tb_centrer td,
.tb_centrer th{
  text-align: center;
  width: 30%;
}

.form_prod{
  /* display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  align-self: center !important;
  align-content: center !important;
  justify-content: center !important;
  justify-self: center !important;
  justify-items: center !important; */
}
/**** PROFIL ****/
.tableau_historique{
  margin:4% !important;
  width: 90% !important;
  background-color:  #F3F3F3 !important;
}

.texte_aligne{
  text-align: center;
}
/**** RECAPITULATIF ****/
#titres_recap p {
  text-align: center;
}
/**** FOOTER ****/

footer{
  background-color: #133f1c !important;
}
footer a {
  color:white !important;
  transition: color .2s ease-in-out;
}
.text-align{
  margin-left:3%;
}
footer i{
  font-size:30px;
}
footer .row{
  margin-bottom: 0 !important;
}

/******************************************** Responsive ***********************************************/
@media (max-width:600px){
  /*** Header ***/
  .index_img{
    width:90% !important;
  }
  .img_header{
    width:30%;
  }
  header .row{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav_header{
    width:100%;
    margin-bottom:5%;
  }

  nav .sidenav-trigger{
    margin-left:50% !important;
  }
  nav .sidenav-trigger:hover{
    color:grey !important;
  }
  /*** Index ***/

  .section_index h3{
    display: none;
  }

  /** Footer **/
  .page-footer i{
    display: none;
  }
}
