/* couleur  grise : #F3F3F3 */
/***** HEADER *****/
.link_header{
  color: black !important;
  font-weight:bold;
}
.p_connexion{
  text-align: right;
}
.logo{
  font-size:25px !important;
  margin-top: 0 !important;
}
.nav_header{
  height:50px !important;
}
.btn{
  height:50px !important;
  text-transform:none !important;
  padding: 10px 16px !important;
}
