/* couleur  grise : #F3F3F3 */
/**** GENERAL ****/
.section_index .row .col{
  padding: 2rem !important;
}
.row{
  margin-bottom: 0 !important;
}
a{
  color:black !important;
}
h2{
  font-size:30px !important;
}
.input_quantite{
  width:15% !important;
}
/***** HEADER *****/
.link_header{
  color: black !important;
  font-weight:bold;
}
.p_connexion{
  text-align: right;
  margin-right: 10%;
}
.logo{
  font-size:25px !important;
  margin-top: 0 !important;
}
.nav_header{
  height:50px !important;
}
.btn{
  height:50px !important;
  text-transform:none !important;
  padding: 10px 16px !important;
}
.nav_header2 > .nav-wrapper{
  background-color: #68B989 !important;
  margin-top:1%;
}
/****** MAIN ******/
main{
  background-color: #F3F3F3 !important;
  padding:2%;
}
/**** INDEX *****/
/** Section 1 : image **/
.index_img{
  width:70% !important;
  height:30% !important;
  display: block;
}

/** Section 3 : texte **/
.index_text{
  text-align: justify;
}


/****** PANIER *****/
.align-right{
  display: flex;
  justify-content: flex-end;
}
.row_panier{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Aligne le Total avec le prix */
#prix_total{
  width: 10% !important;
}
.row_panier > p{
  margin: 0 !important;
}
.row_panier > h2{
  margin : 0 !important;
}
/***** PRODUIT ****/
.h2_produit{
  font-size:20px !important;
}
.boutons_produit{
  display: flex;
  flex-direction: column !important;
  width : 180px;
}
#bouton_produit1{
  margin-bottom:5%;
}
/* Couleur arrow breadcrumb */
.breadcrumb:before {
    color: #9e9e9e;
}

/***** INSCRIPTION *****/
#form_inscription{
  margin-top:2% !important;
  margin-bottom: 5% !important;
}
#bouton_inscription{
  padding-right:20% !important;
  padding-left:20% !important;
}
/**** FOOTER ****/

footer{
  background-color: #68B989 !important;
}
